@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply transition-colors duration-700;
}

@font-face {
  font-family: 'titillium';
  src: url(/fonts/titillium/titillium-regular.ttf);
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'titillium';
  src: url(/fonts/titillium/titillium-black.ttf);
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: 'titillium';
  src: url(/fonts/titillium/titillium-bold.ttf);
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: 'titillium';
  src: url(/fonts/titillium/titillium-semi-bold.ttf);
  font-weight: 700;
  font-style: normal
}


@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }

  .dark h1 {
    @apply text-white;
  }
  .dark h2 {
    @apply text-white;
  }
  .dark h3 {
    @apply text-white;
  }
  .dark h4 {
    @apply text-white;
  }
  .dark p{
    @apply text-white;
  }
}

.customList li:before{
  content: '';
  width: 1rem;
  height: 1rem;
  border: 1px solid #007cd7;
  background: #222222;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: -20%;
  top: 5%;
  z-index: 9;
}

.customList:after{
  content: '';
  width: 2px;
  height: 100%;
  background: #007cd7;
  display: block;
  position: absolute;
  left: -18%;
  top: 0;
}

.dark .customList:after{
  background: #FF29A6;
}

.dark .customList li:before{
  border: 1px solid #FF29A6;
}

.customLoader{
  transition: all 1s ease 0s;
}

.skillbar-percent{
  font-size: 1rem !important;
}

.cursor{
  position: fixed;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2000;
  user-select: none;
  pointer-events: none;
}

.follower{
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0.7;
  user-select: none;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  
  .customList li:before{
    content: none;
  }
  .customList:after{
    content: none;
  }
  .skillbar-percent{
    font-size: 1.2rem !important;
  }
 }